.main-title {
    background: rgba(white, 0.7);
    color: var(--clr-dark-500);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 15%;
    text-align: left;
    padding: 3rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 55%;

    @supports (
        (-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))
    ) {
        background: rgba(255, 255, 255, 0.45);        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }

    h1 {
        display: inline-block;
        font-size: 2.5rem;
        font-weight: 800;
        // width: 100%;
    }

    ul {
        display: inline-flex;
        flex-flow: row nowrap;
        margin-bottom: 1rem;

        li  {
            align-items: baseline;
            font-size: 1.45rem;
            padding: 0.5rem 1.8rem;
            margin-top: 1rem;
            margin-right: 1rem;
            border-radius: 8px;
            transition: transform 0.25s ease;
            &:hover {
                transform: scale(1.035);
            }
            &:first-child {
                background: var(--clr-dark-500);
                color: var(--clr-light-100);
            }
            &:last-child {
                background: rgba(white, 0.8);
            }
            a {
                margin: 0;
                padding: 0;
            }
        }
    }

    p {
        display: inline-block;
        font-size: 0.9rem;
        a {
        border-bottom: 1px dotted var(--clr-dark-500);
        transition: color 0.25s ease;
        &:hover, &:focus {
            color: var(--clr-dark-300);
            border-color: var(--clr-dark-300);
        }
        }
    }

    
}

.process-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    padding: 1.25rem;
    width: 100%;


    .process-card {
        padding: 1.25rem;
        margin: 1rem;
        flex: 1;
        transition: transform 0.25s ease-out;

        &-header {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            img {
                background: var(--clr-light-200);
                padding: 0.45rem;
                border-radius: 50%;
            }

            h5 {
                font-weight: 800;
                font-size: 1.25rem;
                margin-left: 1rem;

            }

            h6 {
                margin-left: auto;
                // height: auto;
                // width: 38px;
                background: var(--clr-dark-500);
                color: var(--clr-light-100);
                padding: 0.4rem;
                border-radius: 50%;
                font-weight: 900;
                font-size: 0.8rem;
                align-content: center;

            }
        }

        &-content {
            p {
                color: rgba(37, 31, 31, 0.5);
                padding: 1rem;
                margin-top: 1rem;
                a {
                    transition: color 0.25s ease, border-color 0.25s ease;
                    border-bottom: 1.5px dotted rgba(37, 31, 31, 0.5);
                    &:hover {
                        color:var(--clr-dark-200);
                        border-color: var(--clr-dark-200);
                    }
                }
            }
        }

        &:hover {
            transform: scale(1.03);
        }
    }
}

.specialties-section {
    header {
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h4 {
            max-width: 50%;
        }
    }

    .specialty-cards {
        
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        margin-top: 3rem;

        .specialty-card {
            flex: 1 1 30%;
            margin: 1rem;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            transition: transform 1s ease;
            &:hover {
                transform: scale(1.03);
            }

            img {
                border-radius: 38px;
                max-height: 400px;
            }

            h5 {
                // display: inline;
                padding: 1.25rem;
                margin: 0.5rem 0;
                margin-left: 1rem;
            }

            a {            
                // padding: 1.25rem;
                padding: 0.5rem 0.8rem;
                margin: 0.5rem 0;
                margin-left: auto;
                margin-right: 2rem;
                background-color: #f5f5f4;
                color: var(--clr-dark-400);
                border-radius: 8px;
                font-size: 0.9rem;
                transition: color 0.25s ease, background-color 0.25s ease;

                &:hover, &:focus {
                    background-color: var(--clr-dark-500);
                    color: var(--clr-light-100);
                }
            }
        }
    }
}