.btn {
    font-size: 1rem;
    padding: 0.5rem 1.15rem;
    border-radius: 8px;
    background-color: var(--clr-dark-500);
    color: var(--clr-light-100);

}

.header-cta-button {
    background-color: var(--clr-dark-500);
    color: var(--clr-light-100);
    padding: 0.7rem 1.5rem;
    border-radius: 6rem;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);

    &:hover, &:focus {
        transform: scale(1.05);
        box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.15);
    }
}

a.text-link {
    border-bottom: 1px dotted var(--clr-dark-500);
    transition: color 0.25s ease;
        &:hover, &:focus {
        color: var(--clr-dark-300);
        border-color: var(--clr-dark-300);
        }
}